* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kdam Thmor Pro', sans-serif;
    font-family: 'Playfair Display', serif;

}

.material-symbols-outlined {
    cursor: pointer;
}

.material-symbols-outlined:hover {
    color: #a1803d;
    transition: all ease-in .2;
}



.navBar {
    display: flex;
    justify-content: space-between;
    padding: 5px 80px;
    background-color: rgba(0, 0, 0, 0.5);
    align-items: center;
    color: white;
    height: 10vh;
}

.navBar .headerrlogo {
    background-image: url("./images/white.png");
    height: 60px;
    width: 95px;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    transition: all ease-in .2s;
}

.navBar .headerrlogo:hover {
    background-image: url("./images/logo.png");
    height: 60px;
    width: 95px;
    background-repeat: no-repeat;
    background-size: cover;
}



.nav-links ul {
    display: flex;
    justify-content: space-evenly;

}

.nav-links li {
    margin: 0 10px;
    list-style: none;
}

.nav-links li a {
    text-decoration: none;
    color: white;
    padding-bottom: 5px;
    font-size: 1.3rem;
    transition: all ease-in .2s;
}

.nav-links li a:hover {
    color: #a1803d
}

.delay-under {
    display: inline-block;
    color: white;
    text-decoration: none;

}

.delay-under::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #a1803d;
    transition: width .2s;
    margin: 5px auto;

}

.delay-under:hover::after {
    width: 100%;
    transition: width .2s;
}


.accounts ul {
    display: flex;
}

.accounts ul li {
    list-style: none;
    margin: 0 10px;
}

.hero {
    background-image: url('./images/bg.jpg');
    height: 110vh;

    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.heroText {
    display: grid;
    place-items: center;
    height: 100%;
    margin-left: 70rem;
    margin-top: -10rem;

}

.texts {


    display: grid;
    justify-items: center;

}

.texts button {
    width: 150px;
    height: 50px;
    font-size: 1.5rem;
    border: 1px solid white;
    background-color: transparent;
    color: white;
    border-radius: 10px;
    font-weight: 700;
    margin-top: 20px;
    transition: all ease-in .2s;
}

.texts button:hover {
    /* color: #016038; */
    color: white;
    border: 1px solid #a1803d;
    background-color: #a1803d;
}

.heroText h1 {
    font-size: 5rem;
    color: white;
}

.heroText p {
    margin-top: 10px;
    font-size: 3rem;
    color: white;
}

.discover {

    width: 80%;
    margin: 0 auto;
}

.discover h1 {
    padding-top: 80px;
    font-size: 3rem;
}

.discover p {
    font-size: 1.5rem;
}

.cat {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 30px;
    width: 90%;
    margin: 50px auto;
}

.cat img {
    width: 100%;
    border-radius: 5px;
}

.product {
    display: grid;
    grid-template-rows: 3fr .5fr;
    row-gap: 30px;
    justify-items: center;
    padding: 10px;

}

.product h2 {
    margin-top: 20px;
}

.newProdList {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 30px;
    width: 90%;
    margin: 0 auto;
}

.newProdList img {
    width: 100%;
    border-radius: 5px;
}

.newProd {
    display: grid;
    grid-template-rows: 3fr .5fr;
    row-gap: 30px;
    justify-items: center;
    padding: 10px;
}

.buying {
    height: 120vh;
    display: grid;
    grid-template-rows: 1fr 1fr;
    margin-bottom: 50px;
}

.configure {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)), url('./images/back.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    margin: 0 auto;
}

.configure .left {
    display: grid;
    align-self: center;

}

.text-buy .left {
    margin-top: 125px;
}

.left h1 {
    font-size: 3rem;
}

.left h2 {
    margin-left: 20px;
}

.left button {
    width: 250px;
    height: 50px;
    color: white;
    font-size: 1.5rem;
    margin: 20px 160px;
    background-color: #016038;
    border-radius: 5px;
    border: none;
    transition: all ease-in .2s;
}

.left button:hover {
    color: #016038;
    background-color: white;
    border: 1px solid #016038;
    border-radius: 5px;
}


.right {
    background-image: url('./images/story.jpg');
    background-repeat: no-repeat;
    background-size: cover;


}

.text-buy {
    width: 80%;
    margin: 50px auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    flex-direction: row;
    column-gap: 20px;
}

.configure {
    display: grid;
    place-items: center;

}

.configure .text {
    margin-left: 40%;
}

.configure .text h1 {
    color: #016038;
    font-size: 5rem;
}

.configure .text h2 {
    color: white;
    font-size: 3rem;
}

.configure .text button {
    margin-top: 10px;
    width: 250px;
    height: 50px;
    color: white;
    font-size: 1.5rem;
    background-color: #016038;
    border-radius: 5px;
    border: none;
    margin-left: 90px;

}

.configure .text button:hover {
    color: #016038;
    background-color: white;
    border: 1px solid #016038;
    border-radius: 5px;
    transition: all ease-in .2s;
}

.history {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 80%;
    margin: 0 auto;
    column-gap: 50px;
    align-items: center;


}


.history .right {
    background-image: none;
}

.history .right h1 {
    font-size: 3rem;
}

.history .right p {
    margin: 10px 0;
    font-size: 1.5rem;
}

.history .right button {
    width: 250px;
    height: 50px;
    color: white;
    font-size: 1.5rem;
    margin: 20px 160px;
    background-color: #016038;
    border-radius: 5px;
    border: none;

}

.history .right button:hover {
    color: #016038;
    background-color: white;
    border: 1px solid #016038;
    border-radius: 5px;
    transition: all ease-in .3s;
}

.footer {
    background-color: black;
    height: 40%;
    margin-top: 100px;
    text-align: center;
    display: grid;
    grid-template-rows: 1.5fr 1fr;
}

.footer .img {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
        url('./images/dealer.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    place-items: center;
}



.footer .img h1 {
    color: white;
    font-size: 5rem;
    margin-bottom: 20px;
}

.img button {
    width: 250px;
    height: 50px;
    color: white;
    font-size: 1.5rem;
    margin: 20px 160px;
    background-color: #016038;
    border-radius: 5px;
    border: none;
}

.img button:hover {
    color: #016038;
    background-color: white;
    border: 1px solid #016038;
    border-radius: 5px;
    transition: all ease-in .3s;
}

.footer .contents {

    margin: 0px auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    width: 80%;
    background-color: black;
    color: white;

}

.footer .contents h5 {
    font-size: 1.8rem;
    margin-top: 100px;
    transition: all ease-in .2s;
    margin-bottom: 20px;
}

.footer .contents h5:hover {
    color: #a1803d;

}

.footer .contents ul {
    margin-bottom: 50px;
    text-align: start;
}

.footer .contents ul a {
    color: white;
    text-decoration: none;
}

.footer .contents ul li {
    font-size: 1.2rem;
    list-style: none;
    margin-top: 5px;
    transition: all ease-in .2s;

}

.footer .contents ul li:hover {
    color: #016038;
}